footer {
	bottom: 0;
	position: absolute;
	color: white;
	width: 100%;
	transition: 500ms;
}

footer h3 {
	font-family: "Couture";
}

.footerDestinations {
	display: flex;
	justify-content: space-evenly;
}

.footerBtn {
	writing-mode: vertical-lr;
	font-size: 2rem;
	color: white;
	position: fixed;
	right: 6%;
	bottom: 45px;
	cursor: pointer;
	transition: 300ms;
}

.footerBtn:hover {
	transform: rotate(360deg);
}

.closeFooter {
	font-size: 1.5rem;
	cursor: pointer;
}

.closeFooter:hover {
	color: #ccc;
}

#realFooter {
	display: none;
	transition: 300ms;
}

.realFooter {
	display: none;
	justify-content: space-between;
	padding: 4px;
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: 300ms;
}

.leftFooter {
	display: flex;
	align-items: center;
}

.rightFooter ul li {
	display: inline-block;
	margin: 0 25px;
	padding: 0;
	transition: 300ms;
}

.rightFooter a {
	text-decoration: none;
	color: white;
	text-align: center;
}
